/* Font Import */
@font-face {
    font-family: 'RetroPixel';
    src: url('assets/fonts/ByteBounce.ttf') format('truetype');
}

/* Root Variables */
:root {
    --primary-color: rgb(254, 201, 232); /* Pink for primary elements */
    --text-color: #000000; /* Default text color */
    --off-white: #fff9f2; /* Light background color */
    --background-color: #222222; /* Dark background color */
    --shadow-color: rgba(255, 255, 255, 0.8); /* Light shadow for dark mode */
    --primary-shadow: rgba(255, 255, 255, 0.6); /* Subtle shadow for dark mode */
    --accent-color: rgba(255, 105, 180, 0.9); /* Vibrant accent color */
}

body.light-mode {
    --primary-color: rgb(254, 201, 232);
    --text-color: #000000;
    --off-white: #fff9f2;
    --background-color: var(--off-white);
    --shadow-color: rgba(0, 0, 0, 0.6); /* Dark shadow for light mode */
    --primary-shadow: rgba(0, 0, 0, 0.8); /* Subtle shadow for light mode */
    --accent-color: rgba(255, 105, 180, 0.9);
}

/* Base Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'RetroPixel', sans-serif;
    font-size: 24px;
    line-height: 1;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Header Styles */
header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--off-white);
}

body.light-mode header {
    color: var(--text-color);
}

h1, h2 {
    text-align: center;
}

/* Navigation Styles */
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav img {
    filter: invert(1);
    transition: transform 0.3s ease;
}

body.light-mode nav img {
    filter: invert(0);
}

nav img:hover {
    filter: invert(0); /* Invert to black if previously white */
    filter: drop-shadow(0 0 8px var(--shadow-color)); /* Add light shadow in dark mode */
}

body.light-mode nav img:hover {
    filter: invert(1); /* Ensure icons turn white when hovered in light mode */
    filter: drop-shadow(0 0 8px var(--shadow-color)); /* Add dark shadow in light mode */
}

/* Active Navigation Item */
nav a.active img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 24px var(--shadow-color)); /* Highlight shadow for active item */
    filter: invert(1); /* Make the selected icon white in dark mode */
}

body.light-mode nav a.active img {
    transform: scale(1.2);
    filter: invert(1);
    filter: drop-shadow(0 0 24px var(--shadow-color)); /* Highlight shadow for active item in light mode */
}

/* Main Content Layout */
main {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
}

/* Article and Aside Styles */
article, aside {
    background: var(--off-white);
    border-radius: 15px;
    box-shadow: 0 8px 12px var(--shadow-color);
    transition: transform 0.3s ease;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%
}

article {
    flex: 7;
}

aside {
    flex: 3;
    padding-right: 1rem;
}

/* Hover Effects */
article:hover, aside:hover {
    transform: translateY(-5px);
}

/* Footer Styles */
footer {
    width: 100%;
    max-width: 800px;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 1em 0;
    background: var(--primary-color);
    border-radius: 15px;
    color: var(--off-white);
    text-align: center;
}

footer a {
    color: var(--off-white);
    text-decoration: none;
    margin: 0 1rem;
    transition: transform 0.2s ease;
}

/* Theme Toggle Button */
.toggle-theme {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        width: calc(100% - 2rem);
        gap: 2rem;
    }

    article, aside {
        width: 100%;
        margin: 0;
        padding: 1rem;
    }

    footer {
        width: calc(100% - 2rem);
    }
}

/* Image Header Styles */
.imgHeader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgHeader img, .icon {
    transition: all 0.3s ease;
}

.imgHeader img:hover, .icon:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px var(--primary-shadow));
}

.icon {
    margin-top: 0.5rem;
}
